@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    display: flex;
}
body{
    
    /* font-family: 'Martian Mono', monospace; */
    font-family: 'Poppins', sans-serif;
}
/* .header-bg{
    background: url("./bg1.jpg");
} */
.header{
    position: relative;
    color: white;
    height: 60vh;
    background: url("./bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-bg{
    position: relative;
    color: white;
    height: 60vh;
    /* background: url("./bg.jpg");
    background: url("./bg1.jpg"); */
    background: url("./bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
.nav{
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
}
.nav h1{
    font-size: 2rem;
}
/* ul li{
    margin: 0 2rem;
} */
ul li a{
    font-size: 1rem;
}

.headline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn{
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-headline{
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-weight: 500;
}

.section-todo{
    margin-top: 5rem;
    text-align: center;
}
/* 
.section-todo ul li{
    display: block;
    margin: 0 auto;
} */
.bg-dark{
    transition: .5s all ease-in-out;
    background-color: #000040;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.form-todo{
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.form-todo input{
    min-height: 100%;
}

.form-todo input[type="text"]{
    box-sizing: border-box;
    width: 78%;
    padding: .8rem;
    font-size: 1rem;
    font-weight: 500;
    border: .1rem solid #203040;
}

.form-todo input[type="submit"]{
    width: 20%;
    background-color: #203040;
    color: white;
    font-size: 1rem;
}
/* 
.form-todo .btn1{
    width: 20%;
    background-color: #203040;
    color: white;
    font-size: 1rem;
} */
.todo-list{
    text-align: left;
    /* margin: 1rem 0; */
    list-style-type: none;
    font-size: 1.2rem;
    display: block;
}
.todo-list li{
    margin-top: 1rem;
    background: #444;
    color: white;
    text-transform: capitalize;
    padding: .5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-btn{
    /* min-height: 100%; */
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
}

.bg-change{
    width: 20%;
    background-color: red;
    color: white;
    font-size: 1rem;
}



.section-signup{
    margin: 2rem auto;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 1rem;
    padding: 1rem;
}
.signup-form {
    margin: auto;
    max-width: 800px;
    width: 95%;
    text-align: left;
}
.signup-form label{
    display: block;
}
.signup-form input,.signup-form textarea{
    display: block;
    width: 100%;
    padding: .5rem;
    border: .1rem solid #203040;
}
.signup-form textarea{
    margin-bottom: 1.5rem;
    
}
.form-group{
    margin-top: 1rem;
}

.signup-btn{
    font-size: 1.2rem;
    padding: 1rem 2rem;
    font-weight: 500;
    background-color: #203040;
    color: white;
    display: block;
    margin: auto;
}




